.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  padding: 0 30px;

}
.containerHeader {
  display: flex;
  align-items: space-evenly;
  justify-content: center;

  padding: 25px 0;

  width: 100%;
}
.containerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 92%;
  height: 100%;  

  background: #F9FBFA;
  border: 1px solid #F9FBFA;
  border-radius: 10px;
  gap: 5%;
}
.containerLogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 32px;
  background: none;
  padding: 0px 15px;
}
.containerLogo h1 {
  background: none;
  color: #1F8459;
  font-family: "Sail", cursive;
  font-size: 40px;
  font-weight: 400;
}
.containerUser {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 8px;

  width: 100%;
  height: 32px;
  background: none;
  padding: 0px 15px;
}
.containerUser button {
  background: none;
  border: none;
  cursor: pointer;
}
.containerUser h1 {
  background: none;
  color: #1F8459;
  font-size: 14px;
  font-weight: 400;
}
.imgTopo {
  width: 28px;
  height: 28px;
  background: none;
  color: #1F8459;
  font-weight: 200;
}
.containerTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 25px 30px;
  width: 100%;
  background: none;
}
.containerTitle h2 {
  font-weight: 500;
  font-size: 24px;
  background: none;
  color: #1F2523;
}
.containerSeach {
  display: flex;
  justify-content: space-between;
  align-items: center;;
  
  gap: 12px;
  
  width: 100%;
  background: none;
  padding: 20px 30px;
}
.containerSeach input {
  width: 100%;
  height: 40px;

  background: none;
  color: #1F2523;
  padding-left: 5px;
  border-radius: 6px;
  border: 1px solid #145237d3;  
}
.containerSeach button {
  display: flex;
  justify-content: center;

  width: 41px;
  height: 41px;

  border-radius: 8px;
  border: none;
  background: #1F8459;
  align-items: center;
  cursor: pointer;
}
.buttonLink {
  background: none;
  text-decoration: none;
  color: #F9FBFA
}
.img {
  background: none;
  color:#F9FBFA;
  font-size: 28px;
}
.containerTable {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  background: none;
}
.containerTable table {
  width: 100%;
  padding: 0px 30px;
  
  background: none;
  text-align: center;
}
.containerTable table th {
  background: #F9FBFA;
  color: #1F2523;
  font-weight: 500;
  padding: 8px 0;
  border-bottom: 2px solid #1F8459;
}
.containerTable table td {
  background: #F9FBFA;
  color: #1F2523;
  padding: 5px 0;
  font-size: 14px;
}
.containerTable table td div {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 100%;
}
.Icons {
  background: none;
  color: #1F8459;
  font-size: 30px;
}
.containerTable table td button {
  width: 60%;
  height: 30px;

  background: #1e6c4a8f;
  color: #F9FBFA;
  border: none;
  border-radius: 6px;
  font-weight: 500;
}
.containerTable table td button:hover {
  background: #1F8459;
  color: #F9FBFA;
  cursor: pointer;
}
