.containerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32px;
  background: none;
}
.containerLogo h1 {
  background: none;
  color: #1F8459;
  font-family: "Sail", cursive;
  font-size: 40px;
  font-weight: 400;
}
