.containerInput {
  background: none;
}
.containerInput label {
  font-size: 11px;
  line-height: 14px;
  font-weight: 600;
  letter-spacing: 0%;
  text-align: left;
  background: none;

  color: #9aa09e;
}
