
.containerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding: 32px;

  background: #F9FBFA;
  border: 1px solid #F9FBFA;
  border-radius: 18px;
  gap: 32px;
}
